.board {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  /* width: 100vw;
  height: 80vh; */
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.line {
  display: flex;
  gap: 5px;
}

.tile {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.correct {
  background-color: lightgreen;
}
.close {
  background-color: yellow;
}
.incorrect {
  background-color: gray;
}
